.chp-services-wrapper {
  background: #fff;
  padding: 5rem 0; }
  .chp-services-wrapper .chp-services-container {
    min-height: 30rem; }
    .chp-services-wrapper .chp-services-container h3 {
      color: #222f3e;
      font-size: 4rem;
      padding-top: 2.5rem;
      text-align: center; }
    .chp-services-wrapper .chp-services-container .numeration {
      color: #0abde3;
      font-size: 2.5rem; }
    .chp-services-wrapper .chp-services-container .chp-service-text {
      color: #222f3e;
      font-size: 2rem;
      line-height: 2.2rem;
      word-break: break-word; }

@media all and (max-width: 600px) {
  .chp-services-wrapper .ui.container.chp-services-container .column {
    width: 100%; } }
