@import '../../scss/variables';

.chp-services-wrapper {
  background: $chp-white-color;
  padding-top: $chp-image-margin;

  .chp-services-container {
    min-height: $chp-container-min-height;
  }
}

