.chp-header-wrapper {
  background: fixed #bdc3c7 url("../../img/bg1.jpg") top no-repeat;
  background-size: cover; }
  .chp-header-wrapper .chp-header {
    margin: 0;
    min-height: 30rem; }
  .chp-header-wrapper .chp-header-text {
    background-color: #222f3e;
    height: 20rem; }
    .chp-header-wrapper .chp-header-text::before {
      background-color: #222f3e;
      bottom: 0;
      content: '';
      height: 20rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw; }
    .chp-header-wrapper .chp-header-text .chp-icon {
      color: #0abde3;
      font-size: 5rem;
      height: 5rem;
      padding-top: 2rem; }
    .chp-header-wrapper .chp-header-text .chp-text {
      color: #0abde3;
      font-size: 2rem; }
      .chp-header-wrapper .chp-header-text .chp-text h1 {
        color: #fff;
        font-family: "Exo 2", Helvetica, sans-serif;
        font-size: 3rem; }
      .chp-header-wrapper .chp-header-text .chp-text a {
        color: #0abde3;
        transition: color .5s; }
        .chp-header-wrapper .chp-header-text .chp-text a:hover {
          color: #fff; }
  .chp-header-wrapper .chp-header-phone {
    background-color: #0abde3;
    height: 10rem; }
    .chp-header-wrapper .chp-header-phone::before {
      background-color: #0abde3;
      bottom: 0;
      content: '';
      height: 10rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw; }
    .chp-header-wrapper .chp-header-phone .chp-icon {
      color: #fff;
      font-size: 3.5rem;
      height: 3.5rem;
      padding-top: 3rem; }
    .chp-header-wrapper .chp-header-phone .chp-text {
      font-size: 1.2rem;
      padding-bottom: 1rem; }
    .chp-header-wrapper .chp-header-phone .chp-phone {
      display: block;
      font-size: 2rem; }

@media all and (max-width: 992px) {
  .chp-header-wrapper .chp-header {
    min-height: auto; }
  .chp-header-wrapper .chp-header-text {
    height: 10rem; }
    .chp-header-wrapper .chp-header-text::before {
      width: 0; }
  .chp-header-wrapper .chp-header-phone::before {
    width: 0; } }

@media all and (max-width: 600px) {
  .chp-header-wrapper .ui.container {
    margin: 0 !important; }
    .chp-header-wrapper .ui.container .row > .four.column {
      text-align: center; }
  .chp-header-wrapper .chp-header-text .chp-icon {
    font-size: 4rem;
    height: 4rem;
    padding-top: 2rem; }
  .chp-header-wrapper .chp-header-text .chp-text {
    font-size: 1.5rem; }
    .chp-header-wrapper .chp-header-text .chp-text h1 {
      font-size: 2.5rem; }
    .chp-header-wrapper .chp-header-text .chp-text h3 {
      font-size: 2.5rem; }
  .chp-header-wrapper .ui.chp-header-phone .chp-icon {
    font-size: 3rem;
    height: 3rem;
    padding-top: 2.5rem; }
  .chp-header-wrapper .ui.chp-header-phone .chp-phone {
    font-size: 1.5rem; } }
