.chp-partners-wrapper {
  background: #fff;
  padding: 5rem 0; }
  .chp-partners-wrapper .ui.container.chp-partners-container .column img {
    max-width: 21.4rem;
    padding: 1rem; }

@media all and (max-width: 991px) {
  .chp-partners-wrapper .ui.container.chp-partners-container .column {
    width: 100%; }
  .chp-partners-wrapper .ui.container.chp-partners-container .column img {
    display: block;
    margin: 1rem auto; } }

@media all and (max-width: 400px) {
  .chp-partners-wrapper .ui.container.chp-partners-container .column img {
    max-width: 100%; } }
