.chp-footer-wrapper {
  background-color: #fff; }
  .chp-footer-wrapper .ui.grid .chp-footer-element {
    padding: 0; }
  .chp-footer-wrapper .ui.grid.chp-footer-phone {
    background-color: #0abde3;
    height: 10rem;
    margin-top: 10rem; }
    .chp-footer-wrapper .ui.grid.chp-footer-phone::before {
      background-color: #0abde3;
      bottom: 0;
      content: '';
      height: 10rem;
      margin-top: 10rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw; }
    .chp-footer-wrapper .ui.grid.chp-footer-phone .chp-icon {
      color: #fff;
      font-size: 3.5rem;
      height: 3.5rem;
      padding-top: 3rem; }
    .chp-footer-wrapper .ui.grid.chp-footer-phone .chp-text {
      font-size: 1.2rem;
      padding-bottom: 1rem; }
    .chp-footer-wrapper .ui.grid.chp-footer-phone .chp-phone {
      display: block;
      font-size: 2rem; }
  .chp-footer-wrapper .ui.grid.chp-footer-mail {
    background-color: #222f3e;
    color: #fff;
    height: 20rem; }
    .chp-footer-wrapper .ui.grid.chp-footer-mail::before {
      background-color: #222f3e;
      bottom: 0;
      content: '';
      height: 20rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw; }
    .chp-footer-wrapper .ui.grid.chp-footer-mail .chp-icon {
      font-size: 3.5rem;
      height: 3.5rem;
      padding-top: 2rem; }
    .chp-footer-wrapper .ui.grid.chp-footer-mail .chp-mail {
      display: block;
      font-size: 2rem;
      line-height: 3.5rem; }
    .chp-footer-wrapper .ui.grid.chp-footer-mail .chp-copy {
      margin-left: 10%; }
    .chp-footer-wrapper .ui.grid.chp-footer-mail a {
      color: #fff;
      transition: color .5s; }
      .chp-footer-wrapper .ui.grid.chp-footer-mail a:hover {
        color: #0abde3; }

@media all and (max-width: 1200px) {
  .chp-footer-wrapper .ui.grid.chp-footer-mail .chp-copy {
    margin-left: 6.25%; } }

@media all and (max-width: 991px) {
  .chp-footer-wrapper .ui.container.chp-full-width {
    margin: 0 !important;
    width: 100% !important; }
  .chp-footer-wrapper .ui.grid.chp-footer-mail {
    height: 10rem; }
    .chp-footer-wrapper .ui.grid.chp-footer-mail::before {
      width: 0; }
    .chp-footer-wrapper .ui.grid.chp-footer-mail .chp-copy {
      margin: 0 auto;
      text-align: center; }
  .chp-footer-wrapper .ui.grid.chp-footer-phone {
    margin-top: 0; }
    .chp-footer-wrapper .ui.grid.chp-footer-phone::before {
      width: 0; } }

@media all and (max-width: 600px) {
  .chp-footer-wrapper .ui.container .row > .four.column {
    text-align: center; }
  .chp-footer-wrapper .ui.grid.chp-footer-mail .chp-icon {
    font-size: 3rem;
    height: 3rem;
    padding-top: 1rem; }
  .chp-footer-wrapper .ui.grid.chp-footer-mail .chp-mail {
    font-size: 1.5rem;
    line-height: 3rem; }
  .chp-footer-wrapper .ui.grid.chp-footer-phone .chp-icon {
    font-size: 3rem;
    height: 3rem;
    padding-top: 2.5rem; }
  .chp-footer-wrapper .ui.grid.chp-footer-phone .chp-phone {
    font-size: 1.5rem; } }
