@import 'scss/variables';
@import 'scss/classes';

body {
  background: $chp-default-bg-color;
  color: $chp-main-dark-color;
  font-family: $chp-font-family;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $chp-white-color;
  transition: color .5s;

  &:hover {
    color: $chp-main-dark-color;
  }
}

img {
  max-width: 100%;
}
