// colors
$chp-default-bg-color: #bdc3c7;
$chp-white-color: #fff;
$chp-main-dark-color: #222f3e;
$chp-main-light-color: #0abde3;


// defaults
$chp-container-min-height: 30rem;

// img
$chp-img-width: 40rem;
$chp-img-height: 40rem;
$chp-image-margin: 5rem;
$chp-image-box-shadow: -.2rem 2rem 8rem 2rem rgba(0, 0, 0, .4);


// font
$chp-font-family: 'Exo 2', Helvetica, sans-serif;
