// colors
$chp-default-bg-color: #bdc3c7;
$chp-white-color: #fff;
$chp-main-dark-color: #222f3e;
$chp-main-light-color: #0abde3;


// defaults
$chp-container-min-height: 30rem;

// font
$chp-font-family: 'Exo 2', Helvetica, sans-serif;
